[submodule "vue-ts-starter/public/submodules/nui-commander/nui-commander"]
	path = vue-ts-starter/public/submodules/nui-commander/nui-commander
	url = https://github.com/zlatnaspirala/nui-commander
[submodule "vue-ts-starter/public/submodules/voice-commander/voice-commander"]
	path = vue-ts-starter/public/submodules/voice-commander/voice-commander
	url = https://github.com/zlatnaspirala/voice-commander
[submodule "vue-ts-starter/public/submodules/opencv-starter"]
	path = vue-ts-starter/public/submodules/opencv-starter
	url = https://github.com/zlatnaspirala/opencv-starter
