
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("myDark", (
  primary: rgb(228, 228, 228), // The primary color of your application
  accent: rgb(255, 23, 55), // The accent or secondary color
  whiteText: #987123,
  secondary: #982828,
  positive: #99ff88,
  theme: dark
));

@include md-register-theme("myLight", (
  primary: md-get-palette-color(gray, A200), // The primary color of your application
  accent: md-get-palette-color(red, 100), // The accent or secondary color
  whiteText: #123443,
  secondary: #987123,
  positive: #99ff88,
  // theme: dark
));

@include md-register-theme("myOrange", (
  primary: md-get-palette-color(orange, A200), // The primary color of your application
  accent: md-get-palette-color(red, 100), // The accent or secondary color
  whiteText: #213312,
  secondary: #987123,
  positive: #99ff88,
  theme: dark
));

@import "~vue-material/dist/theme/all"; // Apply the theme
