
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("Dark", (
  primary: rgb(228, 228, 228),
  accent: rgb(214, 79, 79),
  raised: #909090,
  theme: dark
));

@include md-register-theme("Light", (
  primary: md-get-palette-color(gray, A200),
  accent: md-get-palette-color(orange, 500),
  raised: #ffd99b,
  theme: light
));

@include md-register-theme("Orange", (
  primary: md-get-palette-color(orange, A200),
  accent: md-get-palette-color(red, A200),
  raised: #ffcd28,
  theme: dark
));

@include md-register-theme("Blue", (
  primary: md-get-palette-color(blue, A200),
  accent: md-get-palette-color(red, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Red", (
  primary: md-get-palette-color(red, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Pink", (
  primary: md-get-palette-color(pink, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: light
));

@include md-register-theme("Purple", (
  primary: md-get-palette-color(purple, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Deeppurple", (
  primary: md-get-palette-color(purple, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));
 
@include md-register-theme("Indigo", (
  primary: md-get-palette-color(indigo, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Lightblue", (
  primary: md-get-palette-color(Lightblue, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Cyan", (
  primary: md-get-palette-color(Cyan, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Teal", (
  primary: md-get-palette-color(teal, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Green", (
  primary: md-get-palette-color(green, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Lightgreen", (
  primary: md-get-palette-color(lightgreen, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Lime", (
  primary: md-get-palette-color(Lime, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Yellow", (
  primary: md-get-palette-color(Yellow, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Cyan", (
  primary: md-get-palette-color(Cyan, A200),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Deeporange", (
  primary: md-get-palette-color( orange, 600),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));

@include md-register-theme("Brown", (
  primary: md-get-palette-color( Brown, 600),
  accent: md-get-palette-color(gray, A200),
  raised: rgb(133, 210, 255),
  theme: dark
));


@import "~vue-material/dist/theme/all";
